package player

type PlayerProps struct {
	ID   string
	Name string
}

templ PlayersTable(players []PlayerProps) {
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
}
