package testevt

import (
	"github.com/marcusgchan/bbs/internal/sview"
)

type TestEvtProps struct {
	ID          string
	Environment string
	Difficulty  string
	StartedAt   string
	HasEnded    bool
}

templ TestEvtPage(props []TestEvtProps) {
	@sview.Base() {
		<table>
			<thead>
				<th class="min-w-24">ID</th>
				<th class="min-w-24">Environment</th>
				<th class="min-w-24">Dificulty</th>
				<th class="min-w-24">Started At</th>
			</thead>
			<tbody>
				for _, prop := range props {
					<tr>
						<td>{ prop.ID }</td>
						<td>{ prop.Environment }</td>
						<td>{ prop.Difficulty }</td>
						<td>{ prop.StartedAt }</td>
						if prop.HasEnded {
							<td>Ongoing</td>
						} else {
							<td>Finished</td>
						}
					</tr>
				}
			</tbody>
		</table>
	}
}
