package sview

templ NotFoundPage() {
	@Base() {
		<div class="pt-10">
			<p class="text-xl text-center">404 Not Found</p>
		</div>
	}
}

templ NotFoundContent() {
	<div class="pt-10">
		<p class="text-xl text-center">404 Not Found</p>
	</div>
}
